/* If the social media icons stop showing up, uncomment this! */
/* $timing        : 265ms;
$iconColor     : #00B5F5;
$accent        : #002A8F;
$bluefade      : #0043E0;
$gradient      : #00B5F5; */

/* @mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
} */


/* Body bckground */
body{
  background-color: #ffffff;
  text-align: right;
  font-family: 'Poppins', sans-serif;
}

/* Nav bar */
#nav{
  position: right;
  width: 100%;
  top: 100%;
  /* left: 50%; */
}

/* Left aligned logo */
.logo{
  float: left;
  width: 0%;
  height: 10px;
  padding-top: 1%;
  padding-left: 3%;
}

/* Glowing hover box around each menu item */
.box{
  text-decoration: none;
  color: #3081a3;
  background: transparent;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border: 1px solid #3081a3;
  margin: 10px 10px;
  display: inline-block;
}

.box:hover{
  border: 0;
  box-shadow: 0 0 3px #14626c, 0 0 7px #14626c, 0 0 20px #14626c;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin-top:50px;
  overflow: hidden;
  position: relative;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "prev button" to the left*/
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.container{
  /* justify-content: center;
  align-items: center; */
  height: 80vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;

}

.h1{
  font-size: 50px;
  color: #3081a3;
  text-align: left;
  padding: 10px;
}

.image {
  width: 50%;
  float: left;
  margin-right:15px;
}

.p{
  font-size: 15px;
  color: #3081a3;
  text-align: left;
  padding: 10px;
}

/* footer */
.footer{
  display:block;
  margin-top: 0;
  width: 100%;
  height: 250px;
  background-position: center center;
  /* background-size: cover; */
  background-color: #ffffff;
}

.inner_footer{

  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* showing the logo at the bottom right in footer */
.inner_footer .logo_container{
  width: 35%;
  float:right;
  height: 20%;
  display: block;
  padding: 70px 10px;
}

.inner_footer .logo_container img{
  width: 95px;
  height: auto;
}


/* Address text */
.inner_footer .add{
  font-size: 15px;
  color: #3081a3;
  text-align: center center center;
  padding: 10px;
}

/* Email address */
.inner_footer .em{
  font-size: 15px;
  color: #3081a3;
  position: absolute;
  left: 42%;
  text-align: center;
}

/* Social media icons - cool hovering */
.inner_footer .social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;

}

.inner_footer .social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.5em;
  right: 2%;
  text-align: center;

}

.inner_footer .social-icons i {
  color: #ffffff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.inner_footer .social-icons a {
  display: inline-block;
}

/* gradient style before hovering in orange and yellow*/
.inner_footer .social-icons a:before {
  @include transformScale();
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
  background: linear-gradient(50deg, #14626c, #3081a3);
  transition: all 265ms ease-out;
}

.inner_footer .social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

/* gradient style after hovering in orange and yellow*/
.inner_footer .social-icons a:hover i {
  @include transformScale(2.2);
  color: #14626c;
  background: -webkit-linear-gradient(45deg, #14626c, #3081a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;

}

/* Subscribe link */
.inner_footer .sub{
  font-size: 17px;
  color: #3081a3;
  position: absolute;
  left: 46%;
  text-align: center;
  padding: none;
}

/* adds the underline under the link */
.inner_footer .sub a{
  text-decoration: underline;
  color: #3081a3;
}

/* Copyright text in orange at bottom */
.inner_footer .cpy{
  font-size: 12px;
  color: #3081a3;
  position: absolute;
  left: 44%;
  text-align: center;
  padding: none;
}
